@model Cereal_API.Models.Cereal

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Cereal</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Mfr)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Mfr)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Type)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Type)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Calories)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Calories)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Protein)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Protein)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fat)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fat)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sodium)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sodium)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fiber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fiber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Carbo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Carbo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sugars)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sugars)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Potass)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Potass)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Vitamins)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Vitamins)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Shelf)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Shelf)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Weight)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Weight)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cups)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cups)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Rating)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Rating)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
