@page
@model Cereal_API.Pages.Cereal.DetailsCerealModel

@{
    ViewData["Title"] = Html.DisplayFor(model => model.Cereal.Name);
}

<h1>@Html.DisplayFor(model => model.Cereal.Name)</h1>

<div>
    <h4>Details</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cereal.Mfr)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cereal.Mfr)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cereal.Type)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cereal.Type)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cereal.Calories)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cereal.Calories)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cereal.Protein)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cereal.Protein)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cereal.Fat)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cereal.Fat)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cereal.Sodium)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cereal.Sodium)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cereal.Fiber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cereal.Fiber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cereal.Carbo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cereal.Carbo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cereal.Sugars)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cereal.Sugars)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cereal.Potass)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cereal.Potass)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cereal.Vitamins)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cereal.Vitamins)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cereal.Shelf)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cereal.Shelf)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cereal.Weight)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cereal.Weight)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cereal.Cups)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cereal.Cups)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cereal.Rating)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cereal.Rating)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./EditCereal" asp-route-id="@Model.Cereal.Id">Edit</a> |
    <a asp-page="./ListCereals">Back to List</a>
</div>
