@page
@using Cereal_API.Models.Types
@model Cereal_API.Pages.Cereal.ListCerealsModel

@{
    ViewData["Title"] = "Cereals";
}

<h1>Cereals</h1>

<p>
    <a asp-page="CreateCereal">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Cereal[0].Name)
            </th>
            <th>
                Manufacturer
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cereal[0].Type)
            </th>
            <th>
                Calories per serving
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cereal[0].Protein)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cereal[0].Fat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cereal[0].Sodium)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cereal[0].Fiber)
            </th>
            <th>
                Carbohydrates
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cereal[0].Sugars)
            </th>
            <th>
                Potassium
            </th>
            <th>
                Vitamins and Minerals
            </th>
            <th>
                Display Shelf
            </th>
            <th>
                Weight per serving
            </th>
            <th>
                Cups per serving
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cereal[0].Rating)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Cereal) {
        <tr>
            <td>
                <p>@(item.Name)</p>
            </td>
            <td>
                <p>@(item.Mfr.GetFullNameFromType())</p>
            </td>
            <td>
                <p>@(item.Type.ToFullString())</p>
            </td>
            <td>
                <p>@(item.Calories)kcal</p>
            </td>
            <td>
                <p>@(item.Protein)g</p>
            </td>
            <td>
                <p>@(item.Fat)g</p>
            </td>
            <td>
                <p>@(item.Sodium)mg</p>
            </td>
            <td>
                <p>@(item.Fiber)g</p>
            </td>
            <td>
                <p>@(item.Carbo)g</p>
            </td>
            <td>
                <p>@(item.Sugars)g</p>
            </td>
            <td>
                <p>@(item.Potass)mg</p>
            </td>
            <td>
                <p>@(item.Vitamins.ToInt())%</p>
            </td>
            <td>
                <p>@(item.Shelf.ToInt())</p>
            </td>
            <td>
                <p>@(item.Weight)oz</p>
            </td>
            <td>
                <p>@(item.Cups)cups</p>
            </td>
            <td>
                <p>@(item.Rating)</p>
            </td>
            <td>
                <a asp-page="./EditCereal" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./DetailsCereal" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./DeleteCereal" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
