@page
@using Cereal_API.Pages.Shared
@model Cereal_API.Pages.Cereal.ListCerealsModel

@{
    ViewData["Title"] = "Cereals";
}

<h1>Cereals</h1>

<p>
    <a asp-page="CreateCereal">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @DisplayForCereal.GetDisplayName(Html.DisplayNameFor(model => model.Cereal[0].Name))
            </th>
            <th>
                @DisplayForCereal.GetDisplayName(Html.DisplayNameFor(model => model.Cereal[0].Mfr))
            </th>
            <th>
                @DisplayForCereal.GetDisplayName(Html.DisplayNameFor(model => model.Cereal[0].Type))
            </th>
            <th>
                @DisplayForCereal.GetDisplayName(Html.DisplayNameFor(model => model.Cereal[0].Calories))
            </th>
            <th>
                @DisplayForCereal.GetDisplayName(Html.DisplayNameFor(model => model.Cereal[0].Protein))
            </th>
            <th>
                @DisplayForCereal.GetDisplayName(Html.DisplayNameFor(model => model.Cereal[0].Fat))
            </th>
            <th>
                @DisplayForCereal.GetDisplayName(Html.DisplayNameFor(model => model.Cereal[0].Sodium))
            </th>
            <th>
                @DisplayForCereal.GetDisplayName(Html.DisplayNameFor(model => model.Cereal[0].Fiber))
            </th>
            <th>
                @DisplayForCereal.GetDisplayName(Html.DisplayNameFor(model => model.Cereal[0].Carbo))
            </th>
            <th>
                @DisplayForCereal.GetDisplayName(Html.DisplayNameFor(model => model.Cereal[0].Sugars))
            </th>
            <th>
                @DisplayForCereal.GetDisplayName(Html.DisplayNameFor(model => model.Cereal[0].Potass))
            </th>
            <th>
                @DisplayForCereal.GetDisplayName(Html.DisplayNameFor(model => model.Cereal[0].Vitamins))
            </th>
            <th>
                @DisplayForCereal.GetDisplayName(Html.DisplayNameFor(model => model.Cereal[0].Shelf))
            </th>
            <th>
                @DisplayForCereal.GetDisplayName(Html.DisplayNameFor(model => model.Cereal[0].Weight))
            </th>
            <th>
                @DisplayForCereal.GetDisplayName(Html.DisplayNameFor(model => model.Cereal[0].Cups))
            </th>
            <th>
                @DisplayForCereal.GetDisplayName(Html.DisplayNameFor(model => model.Cereal[0].Rating))
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Cereal) {
        <tr>
            <td>
                <p>@(item.Name)</p>
            </td>
            <td>
                <p>@DisplayForCereal.GetDisplayForMfr(item.Mfr)</p>
            </td>
            <td>
                <p>@DisplayForCereal.GetDisplayForType(item.Type)</p>
            </td>
            <td>
               <p>@(item.Calories + DisplayForCereal.GetMetricForNumberDisplay(Html.DisplayNameFor(model => model.Cereal[0].Calories)))</p>
            </td>
            <td>
                <p>@(item.Protein + DisplayForCereal.GetMetricForNumberDisplay(Html.DisplayNameFor(model => model.Cereal[0].Protein)))</p>
            </td>
            <td>
                <p>@(item.Fat + DisplayForCereal.GetMetricForNumberDisplay(Html.DisplayNameFor(model => model.Cereal[0].Fat)))</p>
            </td>
            <td>
                <p>@(item.Sodium + DisplayForCereal.GetMetricForNumberDisplay(Html.DisplayNameFor(model => model.Cereal[0].Sodium)))</p>
            </td>
            <td>
                <p>@(item.Fiber + DisplayForCereal.GetMetricForNumberDisplay(Html.DisplayNameFor(model => model.Cereal[0].Fiber)))</p>
            </td>
            <td>
                <p>@(item.Carbo + DisplayForCereal.GetMetricForNumberDisplay(Html.DisplayNameFor(model => model.Cereal[0].Carbo)))</p>
            </td>
            <td>
                <p>@(item.Sugars + DisplayForCereal.GetMetricForNumberDisplay(Html.DisplayNameFor(model => model.Cereal[0].Sugars)))</p>
            </td>
            <td>
                <p>@(item.Potass + DisplayForCereal.GetMetricForNumberDisplay(Html.DisplayNameFor(model => model.Cereal[0].Potass)))</p>
            </td>
            <td>
                <p>@DisplayForCereal.GetDisplayForVitamins(item.Vitamins, Html.DisplayNameFor(model => model.Cereal[0].Vitamins))</p>
            </td>
            <td>
                <p>@DisplayForCereal.GetDisplayForShelf(item.Shelf)</p>
            </td>
            <td>
                <p>@(item.Weight + DisplayForCereal.GetMetricForNumberDisplay(Html.DisplayNameFor(model => model.Cereal[0].Weight)))</p>
            </td>
            <td>
                <p>@(item.Cups + DisplayForCereal.GetMetricForNumberDisplay(Html.DisplayNameFor(model => model.Cereal[0].Cups)))</p>
            </td>
            <td>
                <p>@(item.Rating)</p>
            </td>
            <td>
                <a asp-page="./EditCereal" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./DetailsCereal" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./DeleteCereal" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
